In [ ]:
#Arbitrary positional argument

def arbitrary_positional_argument(*args):
    print(args)
    print(type(args))

    
arbitrary_positional_argument(1,5,9,3,7,"hawa")

(1, 5, 9, 3, 7, 'hawa')
<class 'tuple'>

In [6]:
def arbitrary_positional_argument(*args):
   for x in args:
      print(x)
    
arbitrary_positional_argument(1,5,9,3,7,"hawa")

1
5
9
3
7
hawa

In [ ]:
def summerize_grades(name,*args):
    print(name)

    length=len(args)
    if length==0 :               #if not args:  
        print("no grade available")
    else:
        highest=max(args)
        print(highest)

        lowest=min(args)
        print(lowest)

        total=sum(args)
        average=float(total/length)

        print(average)

summerize_grades('Dimuth',9,7,6,5)

Dimuth
9
5
6.75

In [29]:
#Arbitrary keyword argument

def arbitrary_keyword_argument(**kwargs):
    print(kwargs,type(kwargs))
    
       

arbitrary_keyword_argument(name="saman",age=20,address="matara")

{'name': 'saman', 'age': 20, 'address': 'matara'} <class 'dict'>

In [1]:
def arbitrary_keyword_argument(**kwargs):
    print(kwargs,type(kwargs))
    for key,value in kwargs.items():
       print(key ," : ",value)
       

arbitrary_keyword_argument(name="saman",age=20,address="matara")

{'name': 'saman', 'age': 20, 'address': 'matara'} <class 'dict'>
name  :  saman
age  :  20
address  :  matara

In [40]:
def employee_info(name,**employee_details):
    print('name','=',name)
    # dectionary=employee_details.copy()
    for key,value in employee_details.items():
        print(key,' : ',value)
        
    # dectionary={'name':name,**employee_details}
    dectionary={'name':name}|{**employee_details}

    print(dectionary)
    


employee_info(name="saman",address="matara",age=22,gender="male")

name = saman
address  :  matara
age  :  22
gender  :  male
{'name': 'saman', 'address': 'matara', 'age': 22, 'gender': 'male'}

In [ ]:
def employee_info(name,**employee_details):
    print('name','=',name)
    dectionary={'name':name}
    for key,value in employee_details.items():
         print(key,' : ',value)
        
    dectionary[employee_details]

    # print(dectionary)
    


employee_info(name="saman",address="matara",age=22,gender="male")

IndentationError: expected an indented block after 'for' statement on line 4 (548921553.py, line 7)

In [ ]:

print(abs(-3))    #mapankaya gannawa wage seen ekak(rina dunnath dana dunnath ganne + value eka)

3

In [ ]:
#map function

#map(function,iterable)

my_list=[2,5,6,8,9]

def calculate(x):
    y=x*x
    # print(y)
    return(y)

result=map(calculate,my_list)
print(result) #meka list ekakata convert karanna one
result_list=list(result)
print(result_list,type(result_list))

<map object at 0x000001EB85D73010>
[4, 25, 36, 64, 81] <class 'list'>

In [ ]:
#map(function,iterable,iterable)

my_list_1=[1,3,6,8]
my_list_2=[3,6,5,2]

def count_function(x,y):
    z=x+y
    return(z)

result=map(count_function,my_list_1,my_list_2)
print(result)
print(list(result))

<map object at 0x000001EB85D7C670>
[4, 9, 11, 10]

In [61]:
tempreatures=[20,30,25,40,15]

def convert_fahrenheit(celcius):
    fahrenhite=float((celcius*(9/5))+32)
    return fahrenhite
result=map(convert_fahrenheit,tempreatures)
print(list(result))

[68.0, 86.0, 77.0, 104.0, 59.0]

In [66]:
#filter()
#filter(function,iterable)      meke iterable ekai puluwan/function->boolean tre,false

my_list=[5,6,9,8,2,4]
def check_even(value):
    return(value%2==0)

result=filter(check_even,my_list)
print(result,type(result))
print(list(result))

<filter object at 0x000001EB85D23FD0> <class 'filter'>
[6, 8, 2, 4]

In [5]:
#lambda function

# lambda x,y :x+y

add=lambda x,y:x+y
print(add(5,7))

12

In [69]:
number=int(input('enter number'))

fun=lambda x: x**2
print(fun(number))

36

In [ ]:
list_tuple=[('Alise',23),('John',17),('andrew',25),('kate',15)]

filter_age=lambda list_tuples:list_tuples[1]>=18

list_tuple_covert_to_list=list(list_tuple)

filter_people=filter(filter_age,list_tuple)
print(list(filter_people))

[('Alise', 23), ('andrew', 25)]

In [ ]:
peoples=[('Alise',23),('John',17),('andrew',25),('kate',15)]

filter_age=lambda people : people[1]>=18 

filter_people=filter(filter_age,peoples)

#filter_age=lambda people : people[1]>=18 nisa 
# filter_people=filter(lambda people : people[1]>=18 ,peoples)

filter_people=list(filter_people)

print(filter_people)

[('Alise', 23), ('andrew', 25)]

In [ ]:
def my_func(n):
    return lambda a:a*n

my_dubler=my_func(2)   #my_dubler= lambda a: a*2
print(my_dubler(3))

6

In [ ]:
lage_num=lambda x,y: x if x>y else y

print(lage_num(8,7))

8

In [4]:
# recursive function

input_num = int(input("Enter a number: "))
i = input_num-1
while True:
    if i <= 1 :
        break
    else :
        input_num = input_num * i
        i = i-1
print(input_num)

24

In [6]:
def find_factorial(number):
    if number==0:
        return 1

    fact=1
    for i in range(1,number+1):
            fact*=i

    return fact
        
print(find_factorial(8))

40320

In [22]:
#recursive function
def find_factorial(x):
    if x==0 or x==1:
        return 1
    else:
        return(x*find_factorial(x-1))
    
print(find_factorial(6))

720

In [25]:
# def find_factorial(x):
#     if x==0 or x==1:
#         return 1
#     else:
#         return(x*find_factorial(x-1))
    
# print(find_factorial(10000))

In [ ]:
list=[5,9,8,3,2]

def sum_of_element(array):
    if len(array)==1:
        return array[0]
    else:
       
       return array[0]+sum_of_element(array[1:])
    
        #5 +sum_of_element(array[1:])
        #   ------------------------
        #             |

        #5 +          9 +sum_of_element(array[1:])
        #               ------------------------
        #                        |
        #5 +          9 +        8+sum_of_element(array[1:])
        #                           ------------------------
        #                                      |
        #5 +          9 +        8+            3+sum_of_element(array[1:])
        #                                          ------------------------
        #                                                      |
        #5 +          9 +        8+            3 +              2

print(sum_of_element(list))

27