In [ ]:
# Tuple

my_tuple=("apple",8,True)

print(my_tuple[1])
print(len(my_tuple))
print(type(my_tuple))

apple
8
True
8
3
<class 'tuple'>

In [18]:
my_tuple_1=(4)
print(type(my_tuple_1))
my_tuple_1=(4,)
print(type(my_tuple_1))

<class 'int'>
<class 'tuple'>

In [6]:
my_tuple=(8,10,12,7)
print(my_tuple[-2])
print(my_tuple[1:3])

12
(10, 12)

In [19]:
my_tuple_1=(8,10,12,7)
print(my_tuple_1)
my_list_1=list(my_tuple_1)
print(type(my_list_1))
my_list_1[2]=15
print(my_list_1)
my_tuple_1=tuple(my_list_1)
print(type(my_tuple_1))
print(my_tuple_1)

(8, 10, 12, 7)
<class 'list'>
[8, 10, 15, 7]
<class 'tuple'>
(8, 10, 15, 7)

In [1]:
#nested tuple

my_tuple_1=((1,2,3),["apple","banana","grapes"],(True,False))
print(my_tuple_1)
print(my_tuple_1[1][1])
print(my_tuple_1[2][1])

((1, 2, 3), ['apple', 'banana', 'grapes'], (True, False))
banana
False

In [1]:
# python Range

#range=(start_value,end_value,step)
range=(1,11,2)
print(range)
#1,3,5,7,9

del range


# range(1,11,2)
range_1= range(1,11,2)
print(type(range_1))

(1, 11, 2)
<class 'range'>

In [ ]:
#python dectionaries

my_dict={
    "name":"susara",
    "price":250.00,
    "weight":"1kg"
}
print(my_dict)

print(type(my_dict))

{'name': 'susara', 'price': 250.0, 'weight': '1kg'}
<class 'dict'>

In [62]:
#python dectionaries

my_dict={
    "name":"susara",
    "price":250.00,
    "weight":"1kg",
    "price":270.00
    #price ekata anthimata assign karana value eka assign karagannawa
}
print(my_dict)

print(type(my_dict))

{'name': 'susara', 'price': 270.0, 'weight': '1kg'}
<class 'dict'>

In [ ]:
my_dict_2={
    "name":"susara",
    "price":250.00,
    "weight":"1kg"
}
print(my_dict_2)

print(my_dict_2["price"])
my_dict_2["price"]=300.00
print(my_dict_2)

{'name': 'susara', 'price': 250.0, 'weight': '1kg'}
250.0
{'name': 'susara', 'price': 300.0, 'weight': '1kg'}
300.0

In [2]:
my_dict_2={
    "name":"susara",
    "price":250.00,
    "weight":"1kg"
}
print(my_dict_2)
print(my_dict_2.get("price"))
print(my_dict_2.get("expier_date"))
print(my_dict_2.get("expier_date","2025.05.01"))

{'name': 'susara', 'price': 250.0, 'weight': '1kg'}
250.0
None
2025.05.01

In [3]:
my_dict_2={
    "name":"susara",
    "price":250.00,
    "weight":"1kg"
}
print(my_dict_2)

my_dict_2.update({"price":350,"weight":"2kg"})
print(my_dict_2)

{'name': 'susara', 'price': 250.0, 'weight': '1kg'}
{'name': 'susara', 'price': 350, 'weight': '2kg'}

In [77]:
my_dict_2={
    "name":"susara",
    "price":250.00,
    "weight":"1kg"
}
print(my_dict_2)

my_dict_2["color"]="white"
print(my_dict_2)

{'name': 'susara', 'price': 250.0, 'weight': '1kg'}
{'name': 'susara', 'price': 250.0, 'weight': '1kg', 'color': 'white'}

In [78]:
my_dict_2={
    "name":"susara",
    "price":250.00,
    "weight":"1kg"
}
print(my_dict_2)
my_dict_2.pop("weight")
print(my_dict_2)

{'name': 'susara', 'price': 250.0, 'weight': '1kg'}
{'name': 'susara', 'price': 250.0}

In [80]:
my_dict_2={
    "name":"susara",
    "price":250.00,
    "weight":"1kg"
}
print(my_dict_2)

del my_dict_2["weight"]
print(my_dict_2)

{'name': 'susara', 'price': 250.0, 'weight': '1kg'}
{'name': 'susara', 'price': 250.0}

In [83]:
my_dict_2={
    "name":"susara",
    "price":250.00,
    "weight":"1kg"
}
print(my_dict_2)
print(len(my_dict_2))

del my_dict_2
# print(my_dict_2)  error ekak enawa

{'name': 'susara', 'price': 250.0, 'weight': '1kg'}
3

In [ ]:
my_dict_2={
    "name":"susara",
    "price":250.00,
    "weight":"1kg"
}
print(my_dict_2)
my_dict_2.clear()
print(len(my_dict_2))
print(my_dict_2)

{'name': 'susara', 'price': 250.0, 'weight': '1kg'}
0
{}

In [88]:
my_dict_2={
    "name":"susara",
    "price":250.00,
    "weight":"1kg"
}

my_dict_4=my_dict_2.copy()
print(my_dict_4)

{'name': 'susara', 'price': 250.0, 'weight': '1kg'}

In [93]:
#Arithmatic operators
y=7/2 #devison
print(y)

y=9//4 #floor devision
print(y)

y=7%3
print(y)

3.5
2
1

In [97]:
#Assignment Operators

#add and assign (+=)
x=8
#x=x+4
x += 4
print(x)

#subtract and assign (-=)
x -= 2
print(x)

12
10

In [99]:
x=5
y=6

print(x==y)

print(x!=y)

False
True

In [102]:
x=5
y=6
print(x<10 and y<8)
print(x<10 or y>8)
print(not(x>1))

True
True
False

In [109]:
x=77
y=77
print(x is y)

True

In [113]:
x=55
y=6
print(x is not y)

True

In [ ]:
my_list_1=[8,10,12,13,15]
print(10 in my_list_1)
print(11 in my_list_1)

print(11 not in my_list_1)
print(10 not in my_list_1)

True
False
True
False

In [134]:
x=5
y=10
print(x & y)
print(x|y)

0
15

In [140]:
x=5
y=6
if(y<x):
    print("hellow")
else:
    print("hellow na")

hellow na

In [145]:
x=input("enter a number")
x=int(x)
print(x)

3

In [ ]:
x=input("input a word")   #mekata dena hama ekakma string type eken gani
print(x)

2s

In [155]:
x=input("Enter number")
x=int(x)
if(x % 2 == 0):
    print(x,"number is even")
elif(x % 2 == 1):
    print(x,"number is odd")
else:
    print("number is 0")

2 number is even

In [ ]:
x=input("enter number")
x=int(x)

if(x>0):

    if(x%7==0):
        print("multiplication of 7")
    else:
        print("not a multiplication of 7")

else:
    print("number is not a positive number")

number is positive number

In [162]:
x=input("enter number")
x=int(x)
y=4

if(x==y):
    print("numbers are equals")
elif(x>y):
    print("x is greather than y")
else:
    print("x is less than y")

x is greather than y

In [182]:
marks = input("Enter marks: ")

x = int(marks)  # Convert input to integer

if 0 <= x <= 50:
        print("Grade: F")
elif 51 <= x <= 65:
        print("Grade: D")
elif 66 <= x <= 75:
        print("Grade: C")
elif 76 <= x <= 85:
        print("Grade: B")
elif 86 <= x <= 100:
        print("Grade: A")
else:
        print("Wrong input. Marks should be between 0 and 100.")

Grade: B

In [184]:
marks = input("Enter marks: ")

x = int(marks)  # Convert input to integer

if (x < 0 or x > 100):
    print("out of range")
elif (x>=85):
    print("grade is A")
elif (x>=75):
    print("grade is B")
elif (x>=65):
    print("grade is C")
elif(x >= 50):
    print("grade is D")
else:
    print("grade F")

out of range

In [ ]:
#ternary operators
x=10

result="even" if x % 2==0 else "odd"
print(result)

even

In [ ]:
my_list=[8,10,12,9,11,15,16,4]

print(my_list[1:6])

print(my_list[1:6:2])
#[patanganna one eka:iwarawenna one eka+1:yann one step gana]

[10, 12, 9, 11, 15]
[10, 9, 15]

In [203]:
dict_1={"a",1}
dict_2={"b",4}

dict_3=dict_1|dict_2

print(dict_3)
print(len(dict_3))

{1, 'b', 4, 'a'}
4

In [ ]:
#unpacking
my_list=[10,12,7]
x,y,z=my_list
print(x,y,z)

10 12 7

In [205]:
my_tuple=(10,12,7)
x,y,z=my_tuple
print(x,y,z)

10 12 7