In [ ]:
#switch case

response_code=201

match response_code:
    case 200:
        print("ok")
    case 201:
        print("created")
    case 404:
        print("404 not found")
    case 500:
        print("internal sever error")
    case _:
        print("somthing else")

created

In [ ]:
# numbers=[1,5,3]
numbers=[5,2]

match numbers:
    case[x,y]:
        print(x*y)
    case[x,y,z]:
        print(x*y*z)
    case _:
        print("somthing else")

10

In [ ]:
numbers=[4,3,7]

x=len(numbers)

match x:
    case 0:
        print("empty list")
    case 1:
        print("one element")
    case 2:
        print("two element")
    case 3:
        print("three element")
    case _:
        print("somthing else")

three element

In [ ]:
numbers=[4,3,7]



match numbers:
    case []:
        print("empty list")
    case [x]:
        print("one element")
    case [x,y]:
        print("two element")
    case [x,y,z]:
        print("three element")
    case _:
        print("somthing else")

three element

In [ ]:
#loops

#for loop

fruits=["orange","mango","banana"]

for fruit in fruits:
    print(fruit)

orange
mango
banana

In [ ]:

numbers=[7,5,8,4,9,12]
new_num=[]


for num in numbers:
    x=(num*num)
    new_num.append(x)

print(new_num)

[49, 25, 64, 16, 81, 144]

In [4]:
user_input = input("Enter a number:")  #user_input=9
user_input = int(user_input)
new = []

for number in range(1, user_input+1):  #eg : rang(1,2,3,4,5,6,7,8,9)
    new.append(number**2)
print(new)

[1, 4, 9, 16, 25]

In [ ]:
range_1= range(1,9)
for num in range_1:
    print(num)

1
2
3
4
5
6
7
8

In [ ]:
numbers=[2,12,9,8]
result=[num*num for num in numbers]
print(result)

[4, 144, 81, 64]

In [ ]:
numbers=[8,12,-1,5,4,0,-3]
result=[num*num for num in numbers if num>0]
print(result)

[64, 144, 25, 16]

In [53]:
#while loop

user_input=int(input("enter number"))

# count=user_input
count=1

while user_input>=count:
    print(count)
    count+=1

1
2
3

In [ ]:
num=int(input("enter number"))

sq_number=[]
count=1
while num>0:
    sq_number.append(count*count)
    count+=1
    num-=1
print(sq_number)

[1, 4, 9, 16]

In [57]:
num=int(input("enter number"))

sq_number=[]
temp_sq=1
count=1

while temp_sq <= num:
    sq_number.append(temp_sq)
    count+=1
    temp_sq=count*count
print(sq_number)

[1, 4, 9, 16]

In [58]:
my_list=[8,9,3,0,12,15]

for item in my_list:
    if item==0:
        break
    else:
        print(item)

8
9
3

In [59]:
my_list=[8,9,3,0,12,15]

for item in my_list:
    if item==0:
        continue
    else:
        print(item)

8
9
3
12
15

In [ ]:
input_number=1

while(input_number>=0):
    input_number=int(input("enter number"))

    if(input_number==0):
        print("you enter 0...so exits loop")
        break
    else:
        new_value=input_number*input_number
        print(new_value)

81
you enterd 0...so exits loop

In [65]:


while True:
    x=int(input("enter number"))
    if x==0:
        break
    else:
        print(x*x)

9
9
16

In [78]:
person={
    "name":"jhon",
    "age":25,
    "gender":"male"
    #key      #value
}

for key,value in person.items():
    print(key,value)

name jhon
age 25
gender male

In [79]:
person={
    "name":"jhon",
    "age":25,
    "gender":"male"
    #key      #value
}

for key in person.keys():
    print(key)

name
age
gender

In [80]:
person={
    "name":"jhon",
    "age":25,
    "gender":"male"
    #key      #value
}

for value in person.values():
    print(value)

jhon
25
male

In [93]:
def add_number(a,b=5):
    return a+b

print(add_number(3))
print(add_number(3,6))

8
9

In [96]:
# def add_number(a,b=5,c):
#     return a+b+c

# print(add_number(3,4,6))

# this is a wrong

def add_number(a,b,c=5):
    return a+b+c

print(add_number(3,4,1))

8

In [98]:
def add_number(a,b=8,c=5):
    return a+b+c

print(add_number(3,4,1))

8

In [99]:
#  positional arguments

def add_number(a,b):
    return a+b

print(add_number(3,5))

8

In [100]:
def add_numbers(a,b):
    return a+b

print(add_numbers(a=8,b=7))

15

In [113]:
def calculate_cost(price,qty,disc=0,tax=0):

    item_value=price*qty

    discount=item_value*(disc/100)
    print("discount :",discount)

    new_item_value=item_value-discount

    tax_value=new_item_value*tax/100
    print("tax value :",tax_value)

    real_price=new_item_value+tax_value

    return real_price

print(calculate_cost(1000,4))
print(calculate_cost(1000,4,20,4))
print(calculate_cost(1000,4,0,0))

discount : 0.0
tax value : 0.0
4000.0
discount : 800.0
tax value : 128.0
3328.0
discount : 0.0
tax value : 0.0
4000.0

In [4]:
#python String

#we can use '' or ""

my_string="""I love computer programming,
I am studen of IJSE ,
I live in Matara"""

print(my_string)

I love computer programming,
I am studen of IJSE ,
I live in Matara

In [5]:
my_string='''I love computer programming,
I am studen of IJSE ,
I live in Matara'''

print(my_string)

I love computer programming,
I am studen of IJSE ,
I live in Matara

In [ ]:
'''this is comment 1
this is comment 2'''

In [9]:
my_str="hellow world"

print(len(my_str))
print(my_str[5])
print(my_str[2:8])

12
w
llow w

In [10]:
my_str="hellow world"

#string ekaka serama capital karanna 
print(my_str.upper())

#string ekaka serama simple karanna 
print(my_str.lower())

HELLOW WORLD
hellow world

In [ ]:
my_str="   Hellow world   "
print(my_str)

#white space ain karanna 
print(my_str.strip())
print(my_str)

   Hellow world
Hellow world
   Hellow world